# OSX
#
**/.DS_Store

# Xcode
#
SimpleCart/ios/build/
SimpleCart/ios/*.pbxuser
SimpleCart/ios/!default.pbxuser
SimpleCart/ios/*.mode1v3
SimpleCart/ios/!default.mode1v3
SimpleCart/ios/*.mode2v3
SimpleCart/ios/!default.mode2v3
SimpleCart/ios/*.perspectivev3
SimpleCart/ios/!default.perspectivev3
SimpleCart/ios/xcuserdata
SimpleCart/ios/*.xccheckout
SimpleCart/ios/*.moved-aside
SimpleCart/ios/DerivedData
SimpleCart/ios/*.hmap
SimpleCart/ios/*.ipa
SimpleCart/ios/*.xcuserstate

# Android/IntelliJ
#
SimpleCart/android/app/build/
SimpleCart/android/.idea
SimpleCart/android/.gradle
SimpleCart/android/local.properties
SimpleCart/android/*.iml
SimpleCart/android/*.hprof

# node.js
#
SimpleCart/node_modules/
SimpleCart/npm-debug.log
SimpleCart/yarn-error.log

# BUCK
SimpleCart/buck-out/
SimpleCart/\.buckd/
SimpleCart/*.keystore
SimpleCart/!debug.keystore

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/

SimpleCart/*/fastlane/report.xml
SimpleCart/*/fastlane/Preview.html
SimpleCart/*/fastlane/screenshots

# Bundle artifact
SimpleCart/*.jsbundle

# Ruby / CocoaPods
SimpleCart/ios/Pods/
SimpleCart/vendor/bundle/
